/***** WRAPPERS *****/
html {
	font-size: 18px;
}

body {
	font-family: system-ui, sans-serif;
	display: grid;
	/* 	grid-template-rows: auto; */
	grid-gap: 1rem;
	margin: auto;
	max-width: 25rem;
}

.content {
	display: grid;
	/* 	grid-template-rows: auto auto; */
	grid-gap: 1rem;
}

/***** TITLE BAR *****/

.title-bar {
	border-bottom: 1px solid #d6d6d6;
	padding: 0.25rem 0;
	margin: 0 0.5rem;
	position: sticky;
	top: 0;
	background-color: white;
}

.title-bar .title {
	margin: 0;
}

/***** SETTINGS *****/

.circuit-settings {
	display: grid;
	grid-gap: 1rem;
	padding: 0.5rem 0;
	margin: 0 0.5rem;
	border-bottom: 1px solid #d6d6d6;
}

.difficulty-radio {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}
.difficulty-radio label {
	text-align: right;
	font-size: 1.5rem;
}

.difficulty-radio .radio-group {
}

.difficulty-radio .radio-group button {
	margin: auto;
	font-size: 1.5rem;
	display: inline-block;
	border: none;
	background-color: transparent;
  	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.difficulty-radio .radio-group button.selected {
  	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.exercise-count-input {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.exercise-count-input label {
	text-align: right;
	font-size: 1.5rem;
}

.exercise-count-input input {
	font-size: 1.5rem;
	width: 3rem;;
}

.generate-button {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	height: 2rem;
	margin: auto;
	border-radius: 1rem;
	font-size: inherit;
	padding: 0 0.5rem;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	background-color: #1967d2;
	border: none;
	color: white;
}

.generate-button:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.generate-button i.material-icons {
	color: white;
	vertical-align: text-bottom;
	font-size: 1.2rem;
}

.generate-button.clicked .text{
	display: none;
}

/***** CIRCUIT LIST *****/

.circuit-list {
	display: grid;
	grid-gap: 0.5rem;
	padding: 0 1rem;
}

/***** CIRCUIT ITEM *****/

.circuit-item {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	background-color: #e8f0fe;
	min-height: 1rem;
	line-height: 1rem;
	padding: 0.5rem;
	border-radius: 1rem;
}

.circuit-item.completed {
	background-color: #e6e6e6;
}

.circuit-item .item-title {
	color: #1967d2;
}

.circuit-item.completed .item-title{
	color: #6b6b6b;
}

.circuit-item .reorder-handle {
	font-size: 1rem;
	color: #1967d2;
	margin: auto;
}

.circuit-item.completed .reorder-handle {
	color: #6b6b6b;
}